.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input,
.select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.span {
  height: 20%;
  color: red;
  font-size: 13px;

}

.country {
  color: rgb(8, 8, 8);
  font-size: 18px;
  margin-top: 5px;
}

.buttonCountry {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.buttonCountry:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(255, 12, 12, 0.4);
}

.buttonSubmit {
  width: 100%;
  padding: 10px;
}