.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-right: 30px;
}

;

.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 15%;

}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;

}