.container {
  width: 90%;
  border: 2px solid rgb(255, 255, 255);
  color: black;
  margin: 1em auto;
  font-size: larger;
}

h2 {
  text-align: center;
  color: rgb(34, 34, 34);
  font-size: 40px
}

thead {
  background-color: rgb(242, 242, 255);
  border: 2px solid rgb(34, 34, 34);
  padding: 0.3em;
}

th {
  border: 2px solid black;
  padding: 0.3em;
}