.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe9e9;
  height: 80px;
  padding: 0 30px;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}