.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe9e9;
  height: 60px;
  padding: 0 20px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}